body {
  font-family: "Rajdhani", sans-serif;
  margin: 0 auto; /*DE COSTUME TIRAR*/
  max-width: 800px; /*PRIORIDADE - MAX. QUE PODE TER DE LARGURA*/
  width: 100%; /*TODO O CONTEUDO TERA 100% DA TELA*/
}

/*PARA IDENTIFICAR O ID*/
#titulo {
  margin-bottom: 0;
  color: #ec183f; /*COR DA FONTE H1*/
  font-size: 40px; /*LIMITA O TAMANHO DA FONTE*/
}

header p {
  margin-top: 10px;
  font-weight: bold;
}

section img {
  width: 100%;
}

main {
  border-bottom: solid 1px #ccc;
  padding-bottom: 40px;
}

div.container {
  width: fit-content;
  margin: 15px auto;
}

.container a {
  text-decoration: none;
}

.container a + a {
  margin-left: 10px;
}
